<div id = content>

    <div id = search-bar>
        <select name = "filter-attributes" id = "filter-attributes">
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="age">Age</option>
            <option value="phone_number">Phone Number</option>
            <option value="esi">ESI</option>
        </select>
        <input id = search_entry>
        <a href = "#">Filter</a>
    </div>

    <div id = display-table>
        <table>
            <tr class = attribute-titles>
                <th width="5%">ID</th>
                <th width="15%">First Name</th>
                <th width="15%">Last Name</th>
                <th width="10%">Age</th>
                <th width="20%">Phone Number</th>
                <th width="15%">ESI</th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>
            

            {{#each data}}
            <tr class = "Patients-info">
                <th>{{this.patient_id}}</th>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.phone_number}}</td>
                <td>{{this.esi_level}}</td>
                <th><a href = "#">edit</a></th>
                <th><a href = "#">delete</a></th>
            </tr>
            {{/each}}

        </table>
    </div>
    
    <div id="buttons">
        <div id = "add-new-button">
            <a href = "/add_patients.hbs">Add Patients</a>
        </div>
    </div>
            

</div>