<div id = content>

    <form id = search-bar method="GET" action="/patients.hbs">
        <select name = "filter_attributes" id = "filter_attributes">
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="age">Age</option>
            <option value="phone_number">Phone Number</option>
            <option value="esi_level">ESI</option>
        </select>
        <input type="text" name=search_entry id = search_entry>
        <input type="submit">
        <a href="/patients.hbs"><button type="button">Reset</button></a>
    </form>

    <div id = display-table>
        <table>
            <tr class = attribute-titles>
                <th width="5%">ID</th>
                <th width="15%">First Name</th>
                <th width="15%">Last Name</th>
                <th width="10%">Age</th>
                <th width="20%">Phone Number</th>
                <th width="15%">ESI</th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>
            

            {{#each data}}
            
            <tr data-value="{{this.patient_id}}" class="Patients-info">
                <th id="patient_id">{{this.patient_id}}</th>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.phone_number}}</td>
                <td>{{this.esi_level}}</td>
                <th>
                    <form id = update-patient method="GET" action="/update_patients.hbs">
                        <input type="hidden" name="patient_id" value="{{this.patient_id}}">
                        <input type="submit" value="Update">
                    </form>
                </th>
                <th>
                    <button onclick="deletePatient({{this.patient_id}})">Delete</button>
                </th>
            </tr>
            {{/each}}
        </table>
    </div>

    <script src="./js/delete_patient.js"></script>
    
    <div id="buttons">
        <a href = "/add_patients.hbs"><button type="button" id = "add-new-button">Add Patients</button></a>
    </div>

</div>