<div id = content>

    <input type="hidden" id="doctor_id" name="doctor_id" value="{{data.doctor_id}}">

    <div id = text-info>
        Include all relevant information to update a Doctor entry. If an input field is left blank, it defaults to the current value listed above the input. * are required, all else can be set to NULL with "NULL".
    </div>

    <div id = input-table>
        <table>
            <tr class = attribute-titles>
                <th width="30%">*First Name</th>
                <th width="30%">*Last Name</th>
                <th width="40%">Specialization</th>
            </tr>

            <tr>
                <td id="prev_fname" value="{{data.first_name}}">{{data.first_name}}</td>
                <td id="prev_lname" value="{{data.last_name}}">{{data.last_name}}</td>
                <td id="prev_special" value="{{data.specialization}}">{{data.specialization}}</td>
            </tr>

            <tr class = "Doctors-info">
                <td><input type = "text" name="first_name" id = first_name class="input-attribute"></td>
                <td><input type = "text" name="last_name" id = last_name class="input-attribute"></td>
                <td><input type = "text" name="specialization" id = specialization class="input-attribute"></td>
            </tr>

        </table>
    </div>
    
    <div id="buttons">
        <button id="cancel-button" type="button">CANCEL</button>
        <button id="confirm-button" type="button">CONFIRM</button>
    </div>

</div>

<script src="./js/update_doctor.js"></script>