<div id = content>
    <input type="hidden" id="patient_treatment_id" name="patient_treatment_id" value="{{data.patient_treatment_id}}">

    <div id = text-info>
        Include all relevant information to update a Patient_Treatment entry. If an input field is left blank, it defaults to the current value listed above the input. * are required, all else can be set to NULL with "NULL".
    </div>

    <div id = input-table>
        <table>
            <tr class = attribute-titles>
                <th width="50%">Patient Name</th>
                <th width="50%">*Treatment Description</th>
            </tr>

            <tr>
                <td id="prev_pname" data-prev-pid="{{data.patient_id}}">{{data.patient_first_name}} {{data.patient_last_name}}</td>
                <td id="prev_tdesc" data-prev-tid="{{data.treatment_id}}">{{data.treatment_description}}</td>
            </tr>

            <tr class = "Patients_Treatments-info">
                <td><select id = patient_name class="input-attribute">
                    <option value="none"></option>
                    <option value="NULL">NULL</option>
                        {{#each patients}}
                        <option value="{{this.patient_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                </select></td>
                <td><select id = treatment_desc class="input-attribute">
                    <option value="none"></option>
                        {{#each treatments}}
                        <option value="{{this.treatment_id}}">{{this.description}}</option>
                        {{/each}}
                </select></td>
            </tr>

        </table>
    </div>
    
     <div id="buttons">
        <button id="cancel-button" type="button">CANCEL</button>
        <button id="confirm-button" type="button">CONFIRM</button>
    </div>

</div>

<script src="./js/update_patient_treatment.js"></script>